* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;


}

header {
    width: 100%;
    height: 5vh;
    background-color: #333;
    flex-wrap: wrap;
}

.trello {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
   /*  align-items: flex-start; */
    background-color: aquamarine;
}

#todo {
    height: 100%;
    width: 15%;
    flex-wrap: wrap;
    border-style: dashed;
    /* display: flex; */
}

#inprogress {
    border-style: dashed;
   /*  display: flex; */
    height: 100%;
    width: 15%;
    justify-content: center;
    
}


#blocked {
    height: 100%;
    width: 15%;
    flex-wrap: wrap;
    border-style: dashed;

}

#done {
    height: 100%;
    width: 15%;
    flex-wrap: wrap;
    border-style: dashed;
}

.divHead {
    width: 100%;
    height: 40px;
    flex-wrap: wrap;
    background-color: azure;
    align-items: center;
    display: flex;
    
    justify-content: space-around;
}

.imageIcon {
    width: 20px;
    height: 20px;
}

.table-Div {
    width: 100px;
    height: 100px;
    background-color: red;
}

.inputTextContainer {
    display: flex;
    justify-content: space-center;
    align-items: center;
    text-align: center;
}

.hello {
     background-color: antiquewhite;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    margin-top: 6px;
    border: 2px solid black;
    /* margin-top: 2px; */
}